<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="page_content" class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="../dist/img/images.jpg" alt="User Image">
                        <span class="username"><a href="#" th:text="${jobListingDetail.jobTitle}" ></a></span>
                        <span class="description" th:text="${jobListingDetail.lastApplicationDate}"></span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                            <i class="fa fa-circle-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- post text -->
                    <p th:text="${jobListingDetail.jobDescription}"></p>

                    <p th:text="'İşe alıncak kişi sayısı: ' + ${jobListingDetail.numberOfPeople}">
                        </p>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


</section>
<!-- /.row -->
</body>
</html>